<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>Server Status</h1>
        <form action="/server/cmd" method="post" id="form">

            <% result.forEach(element => { %>
                <p><span class="result"><%= element.name %></span></p>
                <button type="button" data-name="<%= element.name %>"  onclick="restartapp(this)" >restart</button>
                <button type="button" data-name="<%= element.name %>"  onclick="stopapp(this)" >stop</button>

            <% }) %>




            <input type="text" name="command" id="command" placeholder="Enter a command">
            <button type="submit" id="exe">Execute Command</button>
        </form>

        <hr>
        <span><%=  %></span>
    </div>

</body>

<script>
    function restartapp(button) {
        const appName = button.getAttribute('data-name');
        console.log(appName)
        document.getElementById('command').value = `pm2 restart ${appName}`
        document.getElementById('exe').click()

        // Perform your restart logic using the extracted app name
      }

      function stopapp(button) {
        const appName = button.getAttribute('data-name');
        console.log(appName)
        document.getElementById('command').value = `pm2 stop ${appName}`
        document.getElementById('exe').click()

        // Perform your restart logic using the extracted app name
      }

</script>

</html>