<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>Server Status</h1>
        <form action="" method="post">
            <% if (appData && appData.length > 0) { %>
                <ul>
                    <% appData.forEach(app => { %>
                        <li>
                            <span><%= app.name %></span>
                            <% if (app.status === 'online') { %>
                                <button type="submit" name="restart" value="<%= app.id %>">Restart</button>
                                <button type="submit" name="stop" value="<%= app.id %>">Stop</button>
                            <% } else { %>
                                <span><%= app.status %></span>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>No apps found.</p>
            <% } %>
        </form>
    </div>
</body>
</html>
